<div class="heading h2">
    <h2>Workouts </h2> 
</div>

<div class="index">

   <ul>
    <%@user.workouts.each do |workout|%>
    <br>
        <li><a href="workouts/<%=workout.id%>"><%=workout.category%></a></li> </ul>
        <ul>
        <li>Date: <%=workout.date_printed(workout.date)%></li>
        <li>Time: <%=workout.time%> <%=workout.time_units%></li>
        
        <%if workout.comment != nil%>
            <li> <%=workout.comment%></li> 
        <%end%>
    <%end%> 
    </ul>
    
</div> 