<div id="flash_message">
    <% if flash.include?(:message) %>
        <%= flash[:message] %>
    <% end %>
</div>
<div class="heading_h4">
    <h4> <%=@user.name%>'s Current Goal </h4>
</div>
<div>
    <%@user.goals.each do |goal|%> 
        <%if goal.is_current?%> 
        <br><br>
            <%workouts_in_goal = Workout.all_in_goal(goal.category, goal.start_date, goal.end_date, @user)%>
            <%min_done_for_goal = total_minutes_towards_goal(workouts_in_goal)%>
            <label><%=goal.category%> 
            for
            <%=goal.time%> <%=goal.time_units%>  </label>
            <br>
            From: <%=goal.date_printed(goal.start_date)%> Until:  <%=goal.date_printed(goal.end_date)%> 
            <br>
            <%if goal.description != ""%>
                Description: <%=goal.description%> 
            <%end%>
            <%=goal.time_left(goal, min_done_for_goal)%> 
            <br>
            <%=goal.workout_progress(min_done_for_goal, goal)%> 
            <br>
        <%end%>
    <%end%>
</div>
<br>
<div id="goal_button">
    <div class="button">
        <a href="/goals/new" >Add a goal</a>
    </div>
    <div class="button">
        <a href="/goals" >View all goals</a>
    </div>
</div>
<div id="workout_button">
    <div class="button">
        <a href="/workouts/new">Add new workout</a> 
    </div>
    <div class="button">
        <a href="/workouts">View all workouts</a>
    </div>
</div>