
<div class="heading h4">
    <h4> <%=@user.name%>'s Current Goal </h4>
</div>

<%@user.goals.each do |goal|%> 
    <%if goal.is_current?%> 
    <br>
        <%workouts_in_goal = Workout.all_in_goal(goal.category, goal.start_date, goal.end_date)%>
        <%min_done_for_goal = total_minutes_towards_goal(workouts_in_goal)%>
        <%=goal.category%> 
        for
        <%=goal.time%> <%=goal.time_units%>  
        <br>
        From: <%=goal.date_printed(goal.start_date)%> Until:  <%=goal.date_printed(goal.end_date)%> 
        <br>
        Description: <%=goal.description%> 
        <br>
        <%=goal.time_left(goal, min_done_for_goal)%> 
        <br>
        <%=goal.workout_progress(min_done_for_goal, goal)%> 
        <br>
    <%end%>
<%end%>
<br>
<div class="button">
<div id="goal_button">
    <a href="/goals/new" >Add a goal</a>

    <a href="/goals/index" >View all goals</a>
</div>
</div>


<div class="button">
    <div id="workout_button">
        <a href="/workouts/new">Add new workout</a> 
        <a href="/workouts">View all workouts</a>
    </div>
</div>