
<div class="heading h4">
    <h4> <%=@user.name%>'s Current Goal </h4>
</div>

<%@user.goals.all do |goal|%> 
    <%if goal.is_current?%> 
        <%workouts_in_goal = Workout.all_in_goal(goal.category, goal.start_date, goal.end_date)%>
        <%min_done_for_goal = total_minutes_towards_goal(workouts_in_goal)%>
        <%=goal.category%> 
        <%=goal.time%> <%=goal.time_units%>  
        Start: <%=goal.start_date%> End:  <%=goal.end_date%> 
        <%=goal.description%> 
        <%=goal.progress(goal, min_done_for_goal)%> 
        <%=goal.workout_progress(min_done_for_goal, goal)%>
    <%end%>
<%end%>

<div class="button">
    <a href="/goals/new" >Add a goal</a>
</div>

<div class="button">
    <a href="/goals/index" >View all goals</a>
</div>


<div class="button">
    <a href="/workouts/new">Add new workout</a>
</div>

<div class="button">
    <a href="/workouts/index">View all workouts</a>
</div>