<div id="flash_message">
    <% if flash.include?(:message) %>
        <%= flash[:message] %>
    <% end %>
</div>
<div>
        <ul>  
            <label><li> <%=@goal.category%> </li> </label>
            <ul>
                <li>Start: <%=@goal.date_printed(@goal.start_date)%>
                  End: <%=@goal.date_printed(@goal.end_date)%></li> 
                <li>Time: <%=@goal.time%> <%=@goal.time_units%></li> 
                <%if @goal.description != ""%>
                    <li>Description: <%=@goal.description%></li> 
                <%end%>
                <%min_done_for_goal = total_minutes_towards_goal(@goal.workouts)%>
                <li>Status: 
                    <%if @goal.is_current?%>
                        This goal is in progress. <%=@goal.workout_progress(min_done_for_goal, @goal)%>
                    <%else%>
                        This goal has passed. <%=@goal.completed_goal_status(min_done_for_goal, @goal)%>
                    <%end%>
                </li>
            </ul>
    </ul> 
</div>
<form method="post" action="/goals/<%=@goal.id%>">
    <input id="hidden" type="hidden" name="_method" value="delete">
    <input class="submit_button" type="submit" value="Delete this goal">
</form>
<div>
    <button onclick="window.location.href='/goals/<%=@goal.id%>/edit';">Edit this goal</button>
</div>
