<div class="heading h2">
    <h2>Goal <%=@goal.id%></h2> 
</div>

<ul>   
        <li>Category: <%=@goal.category%> </li>
        <li>Start: <%=@goal.date_printed(@goal.start_date)%></li> 
        <li>End: <%=@goal.date_printed(@goal.end_date)%></li> 
        <li>Time: <%=@goal.time%> <%=@goal.time_units%></li> 
        <%if @goal.description != nil%>
        <li>Description: <%=@goal.description%></li> 
        <%end%>
        

</ul> 
<div class="button">
    <a href="/goals/<%=@goal.id%>/edit">Edit this goal</a>
</div>

<div class="button">
    <a href="goals/<%=@goal.id%>"> Delete this goal </a>
</div>